#logo {
    font-size: 48px;
    -unity-text-align: middle-center;
    color: var(--color-primary);
    flex-shrink: 0;
    flex-grow: 3;
}

#tap-to-play-label {
    font-size: 26px;
    -unity-text-align: upper-center;
    color: var(--color-primary);
    flex-wrap: nowrap;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
}