ScrollView {
    width: 100%;
    flex-direction: row;
    align-self: flex-start;
}

ScrollView > Button {
    height: 48px;
    width: 32px;
    margin-right: var(--spacing-sm);
    font-size: 10px;
    -unity-text-align: middle-center;
}